<!DOCTYPE html>
<html>
<head lang="en">

          input {font-size: 18px;}
        body {background-image: url("static/imgs/minecraft.jpg"); background-size: 100% 200%;}
        h2   {color:white;}
        #submit1 {background-color:yellow;}
        #submit2 {background-color:#32CD32;}
        #submit3 {background-color:red;}
        table, td, th {border-collapse: collapse; background-color:#bfbfbf; }
        th, td {padding: 15px; text-align: left; border-bottom: 1px solid black;}




    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html>